/* ---------- nav ---------- */
.nav-upper {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 211px;
  padding: 0;
}

.nav-upper img {
  height: 200px;
  width: auto;
}

.nav-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 211px;
  border: solid var(--main-salmon);
  border-width: 1px 0;
  height: 80px;
}

/* SMALL */
@media only screen and (max-width: 600px) {
  .navbar-lower {
    height: 49px;
  }
}

/* MEDIUM */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .navbar-lower {
    max-height: 29px;
  }
}

/* LARGE */
@media only screen and (min-width: 993px) {
  .navbar-lower {
    height: 112px;
  }
}

.nav-end {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.affix {
  top: -211px;
}

.topon {
  top: 0px;
}

.nav-link {
  height: 90px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: var(--main-black);
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
  text-decoration: none;
  color: #003B41;
  font-weight: 700;
}

.nav-link-fade::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--main-bluegreen);
  width: 100%;
  bottom: 30px;
  opacity: 0;
}

.nav-link-fade:hover::before {
  bottom: 40px;
  opacity: 1;
}

.fadeInLogo {
  float: left;
  display: none;
}

.fadeInLogo img {
  height: 90px;
}

#submenu {
  width: 100%;
  font-size: 16px;
  display: none;
  position: absolute;
  left: 0px;
  top: 78px;
  background-color: var(--main-white);
  border: solid var(--main-salmon);
  border-width: 1px 0;
}

.category-submenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.category-submenu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  margin: 0px 30px;
}

.category-submenu img {
  height: 50px;
  width: 50px;
}

header ul li:hover #submenu,
#submenu:hover {
  display: inline;
}

.modal-backdrop {
  display: none;
}

.nav-login-btn {
  font-size: 15px;
  width: 62px;
  height: 30px;
  line-height: 0;
  margin: 0 5px;
}

.delete-button2 {
  top: 0;
  width: 130px;
  height: 30px;
  margin-top: 1rem;
  border-style: none;
  border-radius: 10px;
  background-color: var(--main-scarlet);
}

/* nav - user profile dropdown */
.nav-pf .dropdown-toggle {
  border: none;
  background: transparent;
}

.nav-pf-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  outline: 2px solid var(--main-salmon);
}

.dropdown-menu.dropdown-menu {
  width: 18.75rem;
  height: 18.75rem;
  padding: 1.0625rem;
  border-color: var(--main-scarlet);
}

.nav-pf-nick {
  font-size: 20px;
  font-weight: 700;
  text-align: end;
  margin: 0 20px;
}

.nav-pf li {
  color: #404040;
}

.nav-pf ul li img {
  height: 100px;
  width: 100px;
  margin: 0 0 10px 17px;
  border-radius: 50%;
  outline: 2px solid var(--main-salmon);
}

header .menu ul>li>a {
  padding: 8px 16px 0 16px;
}


/* 푸터 */
footer {
  position: relative;
  right: 0;
  left: 0;
  top: 100%;
  padding-top: 80px;
  margin-top: 300px;
  text-align: center;
  height: fit-content;
  width: 100%;
  background-color: var(--main-mintygreen);
  color: var(--main-white);
  max-width: inherit;
  overflow: hidden;
}

/* 푸터에 전구반짝이 */
#wire {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  width: 100%;
  top: -80px;
  border-bottom: 3px solid #222;
  height: 100px;
}

#wire li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 15px;
  top: 102px;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: even-flash;
}

#wire li:nth-child(odd) {
  animation-name: odd-flash;
}

#wire li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  border-radius: 4px;
  top: -5px;
  left: 0px;
  background: #444;
}

@keyframes even-flash {

  0%,
  100% {
    background: rgb(10, 78, 40);
    box-shadow: 0px 2px 20px 4px rgb(84, 172, 80);
  }

  50% {
    background: rgba(12, 131, 61, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(42, 126, 56, 0.226);
  }
}

@keyframes odd-flash {
  50% {
    background: rgb(129, 17, 9);
    box-shadow: 0px 2px 20px 4px rgb(172, 80, 80);
  }

  0%,
  100% {
    background: rgba(102, 19, 4, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(92, 20, 20, 0.226);
  }
}

footer .footer-content img {
  height: 70px;
  width: auto;
}

footer .footer-content li {
  margin: 0 10px;
}

footer .footer-content a {
  color: var(--main-white);
  text-decoration: underline var(--main-lightpink);
}

footer .footer-text {
  display: flex;

}

/* 맨 위로, 맨 아래로 */
#pagescroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  position: fixed;
  right: 20px;
  z-index: 5;
  cursor: pointer;
}

#pagescroll p {
  margin: 0;

}

#pagescroll img {
  width: 55px;
}

/* 공유 아이콘 */
.site-footer .copyright-text,
.site-footer .social-icons {
  text-align: center
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}