/* product_list */

/* 상단 배너 */
.banner {
  color: white;
  background-color: #297372;
  font-size: 1.5rem;
  height: 18rem;
  padding: 5rem 8rem 3rem 8rem;
}

.opa {
  opacity: 0.5;
}

.container_z {
  position: relative;
  z-index: 1;
}

/* 상품 (카드) */
.card {
  width: 20rem;
  border: 0;
}

.card-img {
  height: 20rem;
}

.brand {
  color: #999;
}

/* product_detail */

.detail_container {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 10rem;
}

/* title 수평선 */
.detail_hr {
  background-color: #aaa;
  height: 0.1rem;
}

.detail_img {
  width: 30rem;
  height: 30rem;
}

.detail_img img {
  object-fit: cover;
}

.circle {
  color: #bbb;
  cursor: pointer;
  border: solid 1px #ddd;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.heart {
  color: white;
  background-color: #F28080;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  width: 4rem;
}

.category {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

/* 구매하기 버튼 */
.buy {
  color: white;
  background-color: #FB5957;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 20px;
  width: 100%;
}

.buy:hover {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 40vw;
  }
}

/* 작은 사진들 */
.small-img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.2rem;
}

/* 탭 이동 */
#tap-move {
  border: solid 1px #ddd;
  margin-top: 5rem;
}

.tap-nav {
  border-bottom: solid 1px #ddd;
  padding-left: 3rem;
}

.tab-button {
  color: black;
  background-color: white;
  cursor: pointer;
  border: 0;
  width: 10rem;
  height: 5rem;
  padding-top: 1rem;
}

#tab-section-1 {
  padding: 3rem 2rem;
}

/* 후기(댓글) */
.com {
  border-top: solid 1px #ddd;
  cursor: pointer;
}

.user_img {
  overflow: hidden;
  border-radius: 30%;
  width: 5rem;
  height: 5rem;
}

.user_img img {
  object-fit: cover;
}

.com_width {
  width: 75%;
}

.com_img {
  width: 7rem;
  height: 7rem;
}

.com_img img {
  object-fit: cover;
}

.stars {
  color: #FFE15D;
}

.eee {
  color: #eee;
}

.modal_btn {
  color: white;
  background-color: #F28080;
  border: 0;
  border-radius: 4px;
  padding: 8px 20px;
}

.emoji-count{
  color: #F28080;
}

/* product_rank */

.s_form {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.search {
  position: relative;
  width: 40rem;
  height: 3rem;
}

.s_input {
  background-color: #f8f9fa;
  border: 0;
  padding-left: 1rem;
}

.s_input::placeholder {
  color: #adb5bd;
}

.s_input:focus {
  outline: none;
}

.btnSearch {
  all: unset;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.btnClear {
  all: unset;
  position: absolute;
  right: 3rem;
  top: 35%;
  transform: translateY(-50%);
  width: 1.2rem; 
  height: 1.2rem;
}

/* input 기본 x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display:none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade2 {
  animation-name: fade;
  animation-duration: 10000s;
}

@keyframes fade {
  from {
    opacity: 1
  }

  to {
    opacity: 1
  }
}

/* review_create */

.review_c {
  margin-top: 13rem;
  padding-bottom: 20rem;
}

.review_form {
  background-color: white;
  border-radius: 5px;
  width: 40rem;
  padding: 3rem;
}

.review_write {
  text-align: center;
  font-weight: bold;
  color: #FB5957;
  width: 10rem;
}

.review_btn {
  color: white;
  background-color: #FB5957;
  border: 0;
  border-radius: 5px;
  padding: 8px;
}

.review_btn:hover, .commu_btn:hover {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg2 2s linear infinite;
}

@keyframes slidebg2 {
  to {
    background-position: 20vw;
  }
}