/* community_index */

.commu {
  margin-top: 10rem;
}

.pen {
  color: #297372;
  border: 1px solid #297372;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 6px 0 8px;
  height: 40px;
}

.pen:hover {
  color: white;
  background-color: #297372;
  text-decoration: none;
}

.commu_hr {
  background-color: #FB5957;
  height: 0.1rem;
}

.commu_table {
  table-layout: fixed;
  word-break: break-all;
  height: auto;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.commu_num {
  width: 10rem;
}

.commu_title {
  width: 28rem;
}

.commu_name {
  width: 13rem;
}

.commu_date {
  width: 13rem;
}

.commu_view {
  width: 10rem;
}

/* community_form(create) */

.commu_c {
  margin-top: 13rem;
}

.commu_form {
  background-color: white;
  border-radius: 5px;
  padding: 3rem;
}

.commu_write {
  text-align: center;
  font-weight: bold;
  color: #FB5957;
  width: 10rem;
}

.commu_btn {
  color: white;
  background-color: #FB5957;
  border: 0;
  border-radius: 5px;
  padding: 8px;
}

.commu_detail_main {
  width: 1000px;
  margin: auto;
}

.commu_detail_hr {
  background-color: #297372;
  height: 0.1rem;
}

.commu_pf_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* community_detail */

.big_img {
  height: 30rem;
  width: 50rem;
}

.big_img img {
  object-fit: cover;
  object-position: center;

}

.bi-heart-fill{
  color:crimson;
}

.bi-heart{
  color:crimson;
}

.detail_drop {
  color: white;
  background-color: #297372;
}