/* community_index */

.commu {
  margin-top: 10rem;
}

.pen {
  color: #297372;
  border: 1px solid #297372;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 6px 0 8px;
  height: 40px;
}

.pen:hover {
  color: white;
  background-color: #297372;
  text-decoration: none;
}

.commu_hr {
  background-color: #FB5957;
  height: 0.1rem;
}

.commu_table {
  table-layout: fixed;
  word-break: break-all;
  height: auto;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.commu_num {
  width: 10rem;
}

.commu_title {
  width: 28rem;
}

.commu_name {
  width: 13rem;
}

.commu_date {
  width: 13rem;
}

.commu_view {
  width: 10rem;
}

/* community_form(create) */

.commu_c {
  margin-top: 13rem;
}

.commu_form {
  background-color: white;
  border-radius: 5px;
  padding: 3rem;
}

.commu_write {
  text-align: center;
  font-weight: bold;
  color: #FB5957;
  width: 10rem;
}

.commu_btn {
  color: white;
  background-color: #FB5957;
  border: 0;
  border-radius: 5px;
  padding: 8px;
}

.commu_detail_main {
  width: 1000px;
  margin: auto;
}

.commu_detail_hr {
  background-color: #297372;
  height: 0.1rem;
}

.commu_pf_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* community_detail */

.big_img {
  height: 30rem;
  width: 50rem;
}

.big_img img {
  object-fit: cover;
  object-position: center;
}

.bi-heart-fill{
  color:crimson;
}

.bi-heart{
  color:crimson;
}

/* dropdown */
.detail_drop {
  color: white;
  background-color: #297372;
}

/* 기본 스타일 초기화 */
input { 
  all: unset;
}

/* 이미지 슬라이드 */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activate,
.dot:hover {
  background-color: #717171;
}

.fade2 {
  animation-name: fade;
  animation-duration: 10000s;
}

@keyframes fade {
  from {
    opacity: 1
  }

  to {
    opacity: 1
  }
}