/* product_list */

/* 상단 배너 */
.banner {
  color: white;
  background-color: #297372;
  font-size: 1.5rem;
  height: 18rem;
  padding: 5rem 8rem 3rem 8rem;
}

.opa {
  opacity: 0.5;
}

.container_z {
  position: relative;
  z-index: 1;
}

/* 상품 (카드) */
.card {
  width: 20rem;
  border: 0;
}

.card-img {
  height: 20rem;
}

.brand {
  color: #999;
}

/* product_detail */

.detail_container {
  margin-left: 15rem;
  margin-right: 15rem;
}

/* title 수평선 */
.detail_hr {
  background-color: #aaa;
  height: 0.1rem;
}

.detail_img {
  width: 30rem;
  height: 30rem;
}

.detail_img img {
  object-fit: cover;
}

.circle {
  color: #bbb;
  cursor: pointer;
  border: solid 1px #ddd;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.heart {
  color: white;
  background-color: #F28080;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  width: 4rem;
}

.category {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

/* 구매하기 버튼 */
.buy {
  color: white;
  background-color: #FB5957;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 20px;
}

.buy:hover {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

/* 작은 사진들 */
.small-img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.2rem;
}

/* 탭 이동 */
#tap-move {
  border: solid 1px #ddd;
  margin-top: 8rem;
}

.tap-nav {
  border-bottom: solid 1px #ddd;
  padding-left: 3rem;
}

.tab-button {
  color: black;
  background-color: white;
  cursor: pointer;
  border: 0;
  width: 10rem;
  height: 5rem;
  padding-top: 1rem;
}

#tab-section-1 {
  padding: 3rem 2rem;
}

/* 후기(댓글) */
.com {
  border-top: solid 1px #ddd;
  cursor: pointer;
}

.user_img {
  overflow: hidden;
  border-radius: 30%;
  width: 5rem;
  height: 5rem;
}

.user_img img {
  object-fit: cover;
}

.com_width {
  width: 50rem;
}

.com_img {
  width: 7rem;
  height: 7rem;
}

.com_img img {
  object-fit: cover;
}

.stars {
  color: #FFE15D;
}

.eee {
  color: #eee;
}

.modal_btn {
  color: white;
  background-color: #F28080;
  border: 0;
  border-radius: 4px;
  padding: 8px 20px;
}