{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %} | {{ user.nickname }}님의 정보{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock style %}

{% block content %}
<main class="user-wrapper">
	<!--유저 프로필 사진 뒤 배경-->
	<div class="user-header-wrapper flexbox">
		<div class="user-header-inner flexbox">
			<div class="user-header-overlay"></div>
			<img class="user-header" src="{% static 'img/accounts/user-bg.png' %}" alt="profile-bg">
		</div>
	</div>
	<!--프로필 상단-->
	<div class="user-info-bar">
		<div class="ufo-bar-col1"></div>
		<!--유저 프사-->
		<div class="ufo-bar-col2">
			<div class="ufo-bar-col2-inner">
				<div class="user-icon-wrapper">
					{% if user.image %}
						<img class="user-icon" src="{{ user.image.url }}">
					{% else %}
						<img class="user-icon" src="{% static 'img/no-avatar.jpg' %}" alt="no-avatar">
					{% endif %}
				</div>
			</div>
		</div>
		<!--프사 밑 유저 정보-->
		<div class="ufo-bar-col3">
			<div class="ufo-bar-col3-inner">
				<div class="username-wrapper-outer">
					<div class="username-wrapper">
						<div>
							<h3 class="username-dev">{{ user.nickname }}</h3>
							<span>{{ user.username }}</span>
						</div>
						<div class="user-info-detail">
							<span class='fs-4 fw-bold'>{% if user.gender == True %}<i class="bi bi-gender-male" style='color: blue;'></i>{% else %}<i class="bi bi-gender-female" style='color: hotpink;'></i>{% endif %}</span>
							<span><i class="fa-solid fa-cake-candles"></i>{{ user.birth_date | date:'n월 j일' }}</span>	
						</div>
					</div>
					<!--팔로우 모달 트리거-->
					<div>
						<a class="ufo-bar-fff" data-bs-toggle="modal" data-bs-target="#exampleModal">
							팔로우<span id='followings' class="me-5"> {{ user.following.count }}</span> 
							팔로워<span id='followers'> {{ user.followers.count }}</span>
						</a>
					</div>
					<!-- 팔로우 모달 -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<!--모달 닫기 버튼-->
								<div class="row justify-content-end">
									<button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="row">
										<!--팔로우-->
										<div class="col-6">
											<h5 class="follow-title text-center">팔로우</h5>
											{% for followinguser in user.following.all %}
												<div>
													<a href="{% url 'accounts:detail' followinguser.pk %}">
														{% if followinguser.image %}
															<img class="user-image" src="{{ followinguser.image.url }}" alt="{{ followinguser.image }}">
														{% else %}
															<img class="user-image" src="{% static 'img/no-avatar.jpg' %}" alt="no-avatar">
														{% endif %}
														{{ followinguser.nickname }}
													</a>
												</div>
											{% empty %}
												<div>
													아직 팔로우가 없습니다.
												</div>
											{% endfor %}
										</div>
										<!--팔로워-->
										<div class="col-6">
											<h5 class="follower-title text-center">팔로워</h5>
											{% for followeruser in user.followers.all %}
												<div>
													<a href="{% url 'accounts:detail' followeruser.pk %}">
														{% if followeruser.image %}
															<img class="user-image" src="{{ followeruser.image.url }}" alt="{{ followeruser.image }}">
														{% else %}
															<img class="user-image" src="{% static 'img/no-avatar.jpg' %}" alt="no-avatar">
														{% endif %}
														{{ followeruser.nickname }}
													</a>
												</div>
											{% empty %}
												<div>
													아직 팔로워가 없습니다.
												</div>
											{% endfor %}
										</div>
									</div>	
								</div>	
							</div>
						</div>
					</div>
					<!-- 팔로우 모달 끝 -->
				</div>
			</div>
		</div>
		<!--내 정보 일 때 버튼 모음-->
		{% if request.user == user %}
			<div class="ufo-bar-col4">
				<div class="ufo-bar-col4-inner">
					<a href="{% url 'accounts:update' %}" class="user-info-btn">프로필수정</a>
					<button type="button" class="user-info-btn" data-bs-toggle="modal" data-bs-target="#blockModal">차단목록</button>
				</div>
			</div>
			<!-- 차단목록 모달 -->
			<div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class='m-0'>차단 목록</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{% for blockuser in user.blocking.all %}
								<div class='m-2'>
									{% if blockuser.image %}
										<img class="user-image" src="{{ blockuser.image.url }}" alt="{{ blockuser.image }}">
									{% else %}
										<img class="user-image" src="{% static 'img/no-avatar.jpg' %}" alt="no-avatar">
									{% endif %}
									<a class="profile-margin" href="{% url 'accounts:detail' blockuser.pk %}">{{ blockuser.nickname }}</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- 차단목록 모달 끝-->
			<div class="ufo-bar-col5"></div>
		{% else %}
		<!--다른 회원 정보 일 때 버튼 모음-->
			<div class="ufo-bar-col4">
				<div class="ufo-bar-col4-inner">
				{% if request.user in user.followers.all %}
					<button class='follow-button me-2' id='follow-btn' data-user-id="{{ user.pk }}">팔로우 취소</button>
				{% else %}
					<button class='follow-button me-2' id='follow-btn' data-user-id="{{ user.pk }}">팔로우</button>
				{% endif %}
				{% if request.user in user.blockers.all %}
					<button class="delete-button" id='block-btn' data-user-id="{{ user.pk }}">차단 해제</button>
				{% else %}
					<button class="delete-button" id='block-btn' data-user-id="{{ user.pk }}">차단</button>
				{% endif %}
				</div>
			</div>		
		{% endif %}
		<div class="ufo-bar-col5"></div>
	</div>
	<!--프로필 아래 탭 메뉴-->	
	<section id="tap-move" class="user-detail-wrapper container">
		<div class="tap-nav w-100 ">
			<button class="tab-button" data-tab-section="tab-section-1">작성한 글</button>
			<button class="tab-button" data-tab-section="tab-section-2">작성한 후기</button>
			<button class="tab-button" data-tab-section="tab-section-3">위시리스트({{ user.like_product.all.count }})</button>
		</div>
		<!--1. 작성한 글-->
		<div id="tab-section-1" class="tab-section w-100 tab-section w-100 d-flex flex-column align-items-center" hidden>
			<h5 class="text-center">커뮤니티에 {{ user.community_set.count }}개의 글을 작성했습니다.</h5>
			
		</div>
		<!--2. 작성 후기-->
		<div id="tab-section-2" class="tab-section p-0">
			<div class="wish-review">
				<h3 class="text-center">남긴 후기</h3>
			</div>
			<div class="d-flex flex-column align-items-center mt-1">
				{% for review in paginated_review_list %}
				<div class="d-flex justify-content-between detail-rw">
					<div>
						<h2><a href="{% url 'articles:product_detail' review.product.pk %}">{{ review.title }}</a></h2>
						<div class="stars d-flex">
							{% if review.rating == 0 %}
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							{% elif review.rating == 1 %}
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							{% elif review.rating == 2 %}
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							{% elif review.rating == 3 %}
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							{% elif review.rating == 4 %}
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star"></i>
							{% else %}
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							{% endif %}
						</div>
						<!--별점 끝-->
						<div>{{ review.content }}</div>
					</div>
					<div>
						{% if review.image %}
							<img class="review-image" src="{{ review.image.url }}" alt="review.image">
						{% else %}
							<img class="review-image" src="{% static 'img/dummy.jpg' %}" alt="dummy">
						{% endif %}
					</div>
				</div>
				{% endfor %}
				<!-- 후기 페이지네이션 시작-->
				<div class="board-pagination">
					<ul class="pagination">
						<!-- 이전페이지 -->
						{% if paginated_review_list.has_previous %}
						<li class="page-item">
							<a class="page-link" tabindex="-1" href="?page={{ paginated_review_list.previous_page_number }}">&laquo;</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#">&laquo;</a>
						</li>
						{% endif %}
						<!-- 페이지리스트 -->
						{% for page_number in paginated_review_list.paginator.page_range %}
						{% if page_number == paginated_review_list.number %}
						<li class="page-item activate" aria-current="page">
							<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
						</li>
						{% else %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
						</li>
						{% endif %}
						{% endfor %}
						<!-- 다음페이지 -->
						{% if paginated_review_list.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{paginated_review_list.next_page_number }}">&raquo;</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" tabindex="-1" href="#">&raquo;</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<!--페이지네이션 끝-->
			</div>
		</div>
		<!--3. 위시리스트-->
		<div id="tab-section-3" class="tab-section w-100 tab-section w-100 d-flex flex-column align-items-center" hidden>
			<div class="wish-review">
				<h3 class="text-center">위시 리스트</h3>
			</div>
			<div class="d-flex mt-1">
				<div class="row">
					{% for product in user.like_product.all %}
						<div class="col-6 col-md-4 d-flex justify-content-center">
							<div class="d-flex flex-column align-items-center detail-sub">
								<div>
									<img class="review-image" src="{{ product.productimages_set.all.0.images }}">
								</div>
								<div>
									<a href="{% url 'articles:product_detail' product.pk %}">{{ product.title }}</a>
								</div>
								<h4>{{ product.price }} 원</h4>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% if request.user == user %}
	<button type="button" class="user-quit-btn container" data-bs-toggle="modal" data-bs-target="#deleteUser">
		회원탈퇴
	</button>
	<!-- 회원탈퇴 모달 -->
	<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">안내</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					정말 탈퇴하시겠습니까? 관련된 모든 정보가 삭제됩니다.
				</div>
				<div class="modal-footer">
					<form action="{% url 'accounts:delete' %}" method="POST">
						{% csrf_token %}
						<input class='neg-btn' type="submit" value='회원 탈퇴'>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 회원탈퇴 모달 끝 -->
	{% endif %}
</main>	
{% endblock content %}
	
{% block script %}
	<!--팔로우 비동기화-->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		const followBtn = document.querySelector('#follow-btn')
		followBtn.addEventListener('click', function (event) {
			const userId = event.target.dataset.userId
			axios({
				url: `/accounts/${userId}/follow/`,
			}).then((response) => {
				const isFollowed = response.data.is_followed
				if (isFollowed == true) {
					followBtn.innerText = '팔로우 취소'
				} else {
					followBtn.innerText = '팔로우'
				}
				const followings = document.querySelector('#followings')
				const followers = document.querySelector('#followers')
				followings.innerText = response.data.followings_count
				followers.innerText = response.data.followers_count
			})
		})
	</script>
	<!--차단 비동기화-->
	<script>
		const blockBtn = document.querySelector('#block-btn')
		blockBtn.addEventListener('click', function (event) {
			const userId = event.target.dataset.userId
			axios({
				url: `/accounts/${userId}/block/`,
			}).then((response) => {
				const isBlocked = response.data.is_blocked
				if (isBlocked == true) {
					blockBtn.innerText = '차단 해제'
				} else {
					blockBtn.innerText = '차단'
				}
			})
		})
	</script>
	<!-- 상품설명, 후기 탭 전환 스크립트 -->
	<script>
		const $nav = document.querySelector('#tap-move')
		const $sections = document.querySelectorAll('.tab-section');
		$nav.addEventListener('click', (e) => {
			if (!e.target.classList.contains('tab-button')) {
				return;
			}
			const focusedTabId = e.target.dataset.tabSection;
			$sections.forEach(($section) => {
				if ($section.id === focusedTabId) {
					$section.removeAttribute('hidden');
				} else {
					$section.setAttribute('hidden', true);
				}
			});
		});
	</script>
	<!--swiper cdn base.html-->
	<script>
		const swiper = new Swiper('.swiper', {
		// Optional parameters
		direction: 'vertical',
		loop: true,

		// If we need pagination
		pagination: {
			el: '.swiper-pagination',
		},

		// Navigation arrows
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},

		// And if we need scrollbar
		scrollbar: {
			el: '.swiper-scrollbar',
		},
	});
</script>
{% endblock script %}