{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}

{% block content %}
<div class="detail_body d-flex flex-column align-items-center">
    <div class="d-flex">
        {% if user.image %}
            <img src="{{ user.image.url }}" class="profile" alt="abc">
        {% endif %}
        <div class="d-flex flex-column align-items-center profile-username">
            <h3>{{ user.nickname }}</h3>
            <p>성별:
                {% if user.gender == True %}
                남자
                {% else %}
                여자
                {% endif %}
            </p>
        </div>
    </div>
    <!-- 팔로우 모달 버튼 -->
    <a data-bs-toggle="modal" data-bs-target="#exampleModal">팔로우:<span id='followings'>{{ user.following.count }}</span>
        | 팔로워:<span id='followers'>{{ user.followers.count }}</span></a>
    <!-- 팔로우 모달 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row justify-content-end">
                        <button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <h5>팔로우</h5>
                                {% for followinguser in request.user.following.all %}
                                <a href="{% url 'accounts:detail' followinguser.pk %}">{{ followinguser.nickname }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-6">
                                <h5>팔로워</h5>
                                {% for followeruser in request.user.follower.all %}
                                <a href="{% url 'accounts:detail' followeruser.pk %}">{{ followinguser.nickname }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user == user %}
    <div class="d-flex justify-content-center">
        <button class="login-button">
            <a href="{% url 'accounts:update' %}">유저정보수정</a>
        </button>
        <button type="button" class="delete-button" data-bs-toggle="modal" data-bs-target="#deleteUser">
            회원탈퇴
        </button>

        <!-- 회원탈퇴 모달 -->
        <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        정말 탈퇴하시겠습니까? 관련된 모든 정보가 삭제됩니다.
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'accounts:delete' %}" method="POST">
                            {% csrf_token %}
                            <input class='delete-button2' type="submit" value='네'>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
    {% if request.user != user %}
    <div class="d-flex justify-content-center">
        {% if request.user in user.followers.all %}
        <button class='follow-button' id='follow-btn' data-user-id="{{ user.pk }}">팔로우 취소</button>
        {% else %}
        <button class='follow-button' id='follow-btn' data-user-id="{{ user.pk }}">팔로우</button>
        {% endif %}
        {% if request.user in user.blockers.all %}
        <button class="delete-button" id='block-btn' data-user-id="{{ user.pk }}">차단 해제</button>
        {% else %}
        <button class="delete-button" id='block-btn' data-user-id="{{ user.pk }}">차단</button>
        {% endif %}
        {% else %}
        <!-- 차단목록 모달버튼 -->
        <button type="button" class="block-button" data-bs-toggle="modal" data-bs-target="#blockModal">
            차단 목록
        </button>

        <!-- 차단목록 모달 -->
        <div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for user in request.user.blocking.all %}
                        <a href="{% url 'accounts:detail' user.pk %}">{{ user.nickname }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<a href="{% url 'accounts:wishlist' user.pk %}"><h5>위시리스트</h5></a>
{% for product in user.like_product.all %}
<a href="{% url 'articles:product_detail' product.pk %}">{{ product.title }}</a>
{% endfor %}

<h5>남긴 후기</h5>
{% for review in user.review_set.all %}
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{ review.pk }}">
    {{ review.title }}
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ review.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ review.title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ review.image.url }}" alt="review.image">
                <div>
                    평점
                    {{ review.rating }}
                </div>
                <div>
                    내용
                    {{ review.content }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const followBtn = document.querySelector('#follow-btn')
    followBtn.addEventListener('click', function (event) {
        const userId = event.target.dataset.userId
        axios({
            url: `/accounts/${userId}/follow/`,
        }).then((response) => {
            const isFollowed = response.data.is_followed
            if (isFollowed == true) {
                followBtn.innerText = '팔로우 취소'
            } else {
                followBtn.innerText = '팔로우'
            }
            const followings = document.querySelector('#followings')
            const followers = document.querySelector('#followers')
            followings.innerText = response.data.followings_count
            followers.innerText = response.data.followers_count
        })
    })
</script>
<script>
    const blockBtn = document.querySelector('#block-btn')
    blockBtn.addEventListener('click', function (event) {
        const userId = event.target.dataset.userId
        axios({
            url: `/accounts/${userId}/block/`,
        }).then((response) => {
            const isBlocked = response.data.is_blocked
            if (isBlocked == true) {
                blockBtn.innerText = '차단 해제'
            } else {
                blockBtn.innerText = '차단'
            }
        })
    })
</script>

{% endblock script %}