{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %} | 로그인{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}

<section class="container login-wrapper">
  <img class="text-center" src="{% static 'img/logo/logo_login.png' %}">
  <form action="{% url 'accounts:login' %}" method="POST" onsubmit="return frm_check();">
    {% csrf_token %}
    <label for="email">아이디</label>
    <div class="login-field">
      {% render_field form.username class="focus-effect" placeholder="이메일을 입력하세요" type="text" name="email" id="logId" %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <label for="password">비밀번호</label>
    <div class="login-field">
      {% render_field form.password class="user-input focus-effect" placeholder="비밀번호를 입력하세요" type="password" name="password" autocomplete="false" id="key" onkeyup="checkCapsLock(event)" %}
      <span class="focus-border">
        <i></i>
      </span>
      <div id="keyShow">SHOW</div> 
    </div>
    <div id='message'></div>
    <div class="input-wrap">
      <input type="checkbox" name="saveId" id="saveId" style="cursor: pointer; accent-color: ">
      <label for="saveId">아이디 저장</label>
    </div>
    <button class="pos-btn login-button" type='submit' content='로그인' id="checkKey">로그인</button>
  </form>
  <p class="text-center">아직 회원이 아니신가요?
    <a class="text-decoration-none" href="{% url 'accounts:signup' %}"><b>회원가입</b></a>
  </p>
  <div class="hr-sect">또는</div>
  <p>SNS계정으로 간편 로그인 / 회원가입</p>
  <!--소셜 로그인-->
  <div class="d-flex justify-content-center my-0">
    <form action="/accounts/google/login/" method="post">
      {% csrf_token %}
      <button class="btn btn-link my-2 my-sm-0 py-1" style="color : #FFFFFF" type="submit"
        onclick="document.getElementById('test').submit();"><img src="{% static 'img/google.png' %}" alt="구글"
          style="height:55px;"></button>
    </form>
    <form class="mx-1" action="/accounts/kakao/login/" method="post">
      {% csrf_token %}
      <button class="btn btn-link my-2 my-sm-0 py-1" style="color : #FFFFFF" type="submit"
        onclick="document.getElementById('test').submit();"><img src="{% static 'img/kakao.png' %}" alt="카카오"
          style="height:55px;"></button>
    </form>
    <form action="/accounts/naver/login/" method="post">
      {% csrf_token %}
      <button class="btn my-2 my-sm-0 btn-l py-1" style="color : #FFFFFF" type="submit"
        onclick="document.getElementById('test').submit();"><img src="{% static 'img/naver.png' %}" alt="네이버"
          style="height:55px;"></button>
    </form>
  </div><!--소셜 로그인 끝--> 
</section>
{% endblock content %}
{% block script %}
<!--아이디 저장-->
<script>
  $(function () {
    fnInit();
  });

  function frm_check() {
    saveid();
  }
  
  function fnInit() {
    var cookieid = getCookie("saveid");
    console.log(cookieid);
    if (cookieid != "") {
      $("input:checkbox[id='saveId']").prop("checked", true);
      $('#logId').val(cookieid);
    }
  }

  function setCookie(name, value, expiredays) {
    var todayDate = new Date();
    todayDate.setTime(todayDate.getTime() + 0);
    if (todayDate > expiredays) {
      document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
    } else if (todayDate < expiredays) {
      todayDate.setDate(todayDate.getDate() + expiredays);
      document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
    }
    console.log(document.cookie);
  }

  function getCookie(Name) {
    var search = Name + "=";
    console.log("search : " + search);
    if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
      offset = document
        .cookie
        .indexOf(search);
      console.log("offset : " + offset);
      if (offset != -1) { // 쿠키가 존재하면
        offset += search.length;
        // set index of beginning of value
        end = document
          .cookie
          .indexOf(";", offset);
        console.log("end : " + end);
        // 쿠키 값의 마지막 위치 인덱스 번호 설정
        if (end == -1) 
          end = document.cookie.length;
        console.log("end위치  : " + end);
        return unescape(document.cookie.substring(offset, end));
      }
    }
    return "";
  }

  function saveid() {
    var expdate = new Date();
    if ($("#saveId").is(":checked")) {
      expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
      setCookie("saveid", $("#logId").val(), expdate);
    } else {
      expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
      setCookie("saveid", $("#logId").val(), expdate);
    }
  }
</script>
<!--비밀번호 보이기-->
<script>
  $("#key").on("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      $("#checkKey").triggerHandler("click");
    } else {
      if (this.value) {
        $("#keyShow").css("display", "inline-block");
      } else {
        $("#keyShow").hide();
      }
    }
  }).focus();
  
  $("#keyShow").on("click", function() {
    if ($("#key").attr("type") == "password") {
      $("#key").attr("type", "text");
      $($(this)).text("H I D E");
    } else {
      $("#key").attr("type", "password");
      $($(this)).text("SHOW");
    }
  });
</script>
<!--캡스락 경고-->
<script>
  function checkCapsLock(event)  {
    if (event.getModifierState("CapsLock")) {
      document.getElementById("message").innerHTML 
        = "<i class='bi bi-exclamation-octagon'></i>" + "&nbspCaps Lock이 켜져 있습니다."
    }else {
      document.getElementById("message").innerText 
        = ""
    }
  }
</script>
{% endblock script %}