{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<div class="wrapper2">
  <h1 class="text-center">회원가입</h1>
  <form action="" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="d-flex flex-column align-items-center">
      <label for="username">이메일</label>
      <input class='signup-style1' type="email" name='username' id='username'>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="nickname">닉네임</label>
      <input class='signup-style1' type="text" name='nickname' id='nickname'>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="password1">비밀번호</label>
      <input class='signup-style1' type="password" name='password1' id='password1'>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="password2">비밀번호 확인</label>
      <input class='signup-style1' type="password" name='password2' id='password2'>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="image">프로필 사진</label>
      <input class='signup-style2' type="file" name='image' id='image'>
    </div>
    <label>남</label><input type="radio" name='gender' value='true'>
    <label>여</label><input type="radio" name='gender' value='false'>
    <div class='d-flex flex-column align-items-center'>
      <label for="birth_date">생년월일</label>
      <input class='form-control signup-style2' type="date" name='birth_date' id='birth_date'>
    </div>
    <button class="login-button" button_type='submit' content='회원가입'>회원 가입</button>
  </form>
</div>
{% endblock content %}
{% block script %}{% endblock script %}