{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %} | 회원가입{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}

<section class="container accounts-wrapper">
  <h1 class="text-center">회원가입</h1>
  <form action="" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="username">아이디</label>
    <div class="login-field">
      {% render_field form.username class="focus-effect" placeholder="이메일을 입력하세요" type="email" name="username" %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <label for="nickname">닉네임</label>
    <div class="login-field">
      {% render_field form.nickname class="focus-effect" placeholder=" 2 ~ 8자 " type="text" name="nickname" %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <label for="password">비밀번호</label>
    <div class="login-field">
      {% render_field form.password1 class="focus-effect" placeholder="비밀번호를 입력하세요" type="password" name='password1' id='password1' %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <p id='message1'>❗ Caps Lock이 켜져 있습니다.</p>
    <label for="password">비밀번호 확인</label>
    <div class="login-field">
      {% render_field form.password2 class="focus-effect" placeholder="비밀번호를 한 번 더 입력해주세요." type="password" name='password2' id='password2' %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <p id='message2'>❗ Caps Lock이 켜져 있습니다.</p>
    <label for="image">프로필 사진</label>
    <div class="login-field">
      {% render_field form.image class="focus-effect" type="file" name="image" %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <label for="gender">성별</label>
    <div class="login-field">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name='gender' id="gender" value='true'>
        <label class="form-check-label" for="inlineRadio1">남</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name='gender' id="gender" value='false'>
        <label class="form-check-label" for="inlineRadio2">여</label>
      </div>
    </div>
    <label for="birth_date">생년월일</label>
    <div class="login-field">
      {% render_field form.birth_date class="focus-effect" type="date" name='birth_date' id='birth_date' %}
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <button class="pos-btn login-button" type='submit' content='회원가입' id="checkKey">회원 가입</button>
  </form>
</section>
{% endblock content %}

{% block script %}

<!--캡스락 경고-->
<script>
  var input1 = document.getElementById("password1");
  var text1 = document.getElementById("message1");
  input1.addEventListener("keyup", function(event) {
  
  if (event.getModifierState("CapsLock")) {
      text1.style.display = "block";
    } else {
      text1.style.display = "none"
    }
  });
  
  var input2 = document.getElementById("password2");
  var text2 = document.getElementById("message2");
  
  input2.addEventListener("keyup", function(event) {
  
  if (event.getModifierState("CapsLock")) {
      text2.style.display = "block";
    } else {
      text2.style.display = "none"
    }
  });
  </script>
{% endblock script %}