{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<div class="wrapper2">
    <h1 class="text-center">회원가입</h1>
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <label for="id_email">이메일</label>
        <div>{{form.email}}</div>
        <label for="id_username">이름</label>
        <div>{{form.username}}</div>
        <label for="id_password1">비밀번호</label>
        <div>{{form.password1}}</div>
        <label for="id_password2">비밀번호 확인</label>
        <div>{{form.password2}}</div>
        <label for="id_image">프로필 사진 업로드</label>
        <div>{{form.image}}</div>
        <div>{{form.gender}} gender
        </div>
        <label for="birth_date">생년월일</label>
        <div class="d-flex justify-content-center"><input class='form-control' type="date" name='birth_date'
                id="id_birth"></div>
        <button class="login-button" button_type='submit' content='회원가입'>회원 가입</button>
    </form>
</div>
{% endblock content %}
{% block script %}{% endblock script %}