{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<div class="wrapper1">
    <h1>프로필 업데이트</h1>
    <a href="{% url 'accounts:password' %}">비밀번호 변경</a>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="image">프로필</label>
        <input class='signup-style1' id='image' type="file" name='image'>
        <button class="login-button" type='submit' content='수정'>수정</button>
    </form>
</div>
{% endblock content %}
{% block script %}{% endblock script %}