{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<div class="signup-wrapper">
  <h1>프로필 업데이트</h1>
  <form action="" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div><label for="image">프로필</label></div>
    <input class='signup-style1' id='image' type="file" name='image'>
    <button class="login-button" type='submit' content='수정'>수정</button>
  </form>
  <a href="{% url 'accounts:password' %}"><button class="login-button" type='submit' content='수정'>비밀번호 변경</button></a>
</div>
{% endblock content %}
{% block script %}{% endblock script %}