{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %} | 위시리스트{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<div class="wrapper1">
    <h1>이런 선물을 받고 싶어요</h1>
    {% for product in user.like_product.all %}
      <a href="{% url 'articles:product_detail' product.pk %}">{{ product.title }}</a>
    {% endfor %}
</div>
{% endblock content %}
{% block script %}{% endblock script %}