{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}

<a href="{% url 'articles:index' %}">메인화면</a>
<p>{{ community.pk }}</p>
<a href="{% url 'articles:community_update' community.pk %}">글 수정</a>
<p>{{ community.content|safe }}</p>
<a href="{% url 'articles:community_index' %}">커뮤니티 메인</a>


{% endblock content %}
{% block script %}{% endblock script %}