{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<br><br><br><br>
<div class='container'>
  <form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="container my-1" style="width: 860px;">
      {{ community_form.media }}
      {% render_field community_form.title class="btn btn-block my-3" style="width: 860px;" placeholder="제목을 입력해주세요" %}
      {% render_field community_form.content class="btn btn-block" style="width: 1000px;" placeholder="" %}
    </div>
    
    
    <div class="container my-3" style="width: 860px;">    
      {% bootstrap_form community_images_form %}
    </div>
    
    <div class="container d-flex justify-content-between" style="width: 860px;">
      <div>
        <a href="{% url 'articles:community_index' %}" class="text-end">커뮤니티 메인</a>
      </div>
      <div>
        {% if request.resolver_match.url_name == 'community_update' %}
          <input type="submit" value="글 수정" class="btn btn-primary">
        {% else %}
          <input type="submit" value="글 생성" class="btn btn-primary">
        {% endif %}
      <input type="reset" value="초기화" class="btn btn-dark">
      </div>
  </form>

  
</div>





{% endblock content %}
{% block script %}{% endblock script %}