{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block content %}
<div class="commu container">
  <section class="d-flex justify-content-between">
    <div class="fs-1">커뮤니티</div>
    <a class="pen d-flex flex-column justify-content-center" href="{% url 'articles:community_create' %}">
      <i class="fa-solid fa-pen"> 글쓰기</i>
    </a>
  </section>

  <hr class="commu_hr">

  <table class="commu_table">
    <tr class="text-center">
      <td class="commu_num">번호</td>
      <td class="commu_title">제목</td>
      <td class="commu_name">작성자</td>
      <td class="commu_date">작성일</td>
      <td class="commu_view">조회</td>
      <td class="commu_like">좋아요</td>
    </tr>
    {% for community in communities %}
    <tr class="text-center">
      <td>{{ community.id }}</td>
      <td class="text-start">
        <a href="{% url 'articles:community_detail' community.pk %}">{{ community.title }}</a>
      </td>
      <td>익명의 장성민</td>
      <td>{{ community.created_at.date }}</td>
      <td>2</td>
      <td>1</td>
    </tr>
    {% endfor %}
  <table>
</div>
  
<!-- <p>{{ community.content|safe }}</p>
{% for community in communities %}
<div>
  <a href="{% url 'articles:community_delete' community.pk %}">{{ community.title }} 글 삭제</a>
</div>
{% endfor%}
<a href="{% url 'articles:community_index' %}">커뮤니티 메인</a> -->
  
{% endblock content %}
{% block script %}{% endblock script %}