{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %} | 새 글 쓰기{% endblock title %}
{% block style %}
<style>
  .content-wrapper {
    height: auto;
    background-image: url(/static/img/background.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
  }
</style>
{% endblock style %}

{% block content %}
  <section class="content-wrapper">
    <div class="container commu-form-wrapper">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ community_form.media }}
        <label for="title" class="form-label">제목</label>
        {% render_field community_form.title class="commu-input form-control mb-5" placeholder="글제목을 입력해주세요" %}
        {% render_field community_form.content %}
        <label for="images" class="form-label">사진 첨부</label>
        {% render_field community_images_form.images class="commu-input form-control" %}
        {% if request.resolver_match.url_name == 'community_update' %}
          <input class="commu_btn px-5" type="submit" value="글 수정">
        {% else %}
          <input class="commu_btn px-5" type="submit" value="작성 완료">
        {% endif %}
      </form>
    </div><!--commu-form-wrapper-->
  </section>
{% endblock content %}

{% block script %}{% endblock script %}