{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock style %}

{% block content %}
  <!-- 친구 목록 Modal -->
  <div class="modal fade select-friend-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">친구 선택</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="select-friend-sf" id='result'>선물할 친구를 선택하세요</div>
        </div>
        <div class="modal-body">
          <div class="mb-5">
            나에게
            <div class="form-check">
              <input id='select-mine' data-user-id="{{ request.user.pk }}" class="form-check-input" type="radio" id="flexCheckDefault" value="{{ user }}" name="towhom[1][]" onclick='getFriend(event)'>
              {% if request.user.image %}
              <img src="{{ request.user.image.url }}" class="select-friend-img">
              {% else %}
              <img src="{% static 'img/no-avatar.jpg' %}" class="select-friend-img">
              {% endif %}
              <label class="form-check-label" for="flexCheckDefault">{{ user.nickname }}</label>
            </div>
          </div>
          <!--나-->
          <div class="to-friend">
            친구에게
            {{ user.following.all|length }}
            {% if request.user.following.all %}
              {% for follower in request.user.following.all %}
                <div class="form-check">
                  <input id="select-follower" data-follower-id="{{ follower.pk }}"class="form-check-input" type="radio" value="{{ follower.username }}" name="towhom[1][]" onclick='getFriend(event)'>
                  {% if follower.image %}
                  <img src="{{ follower.image.url }}" class="select-friend-img">
                  {% else %}
                  <img src="{% static 'img/no-avatar.jpg' %}" class="select-friend-img">
                  {% endif %}
                  <label class="form-check-label" for="flexCheckDefault"> {{ follower.nickname }}</label>
                </div>
              {% endfor %}
            {% else %}
              <p>등록된 친구가 없습니다.<br>먼저 친구를 등록해주세요.</p>
            {% endif %}
          </div>
          <!--친구목록-->
        </div>
        <div class="modal-btn-group">
          <a id='select-btn' type="button" class="pos-btn" href="">선택</a>
          <button type="button" class="neg-btn" data-bs-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 네브 아래 width100% 영역 -->
  <section id="index-banner" class="recobox">
    <div id="snowflakeContainer">
      <span class="snowflake"></span>
    </div>
    <p>
      {% if request.user.is_authenticated %}
        {{ user.nickname }}님
        <br>
      {% endif %}누구를 위한 선물인가요?
    </p>
    {% if request.user.is_authenticated %}
      <!-- 로그인 되어 있으면 친구 목록 trigger modal -->
      <div class="recobox-pic-area" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="{% static 'img/index/question-mark.png' %}" alt="anonymous-user" class="recobox-pic">
        <img src="{% static 'img/index/add-red.png' %}" alt="select-friend" class="select-friend">
      </div>
    {% else %}
      <a class="recobox-pic-area" href="{% url 'accounts:login' %}">
        <img src="{% static 'img/index/question-mark.png' %}" alt="anonymous-user" class="recobox-pic">
        <img src="{% static 'img/index/add-red.png' %}" alt="select-friend" class="select-friend">
      </a>
    {% endif %}
  </section>
  <section class="container category-wrapper">
    <div class="index-category row row-cols-5">
      {% for category in categories %}
      <div class="col">
        <a href="{% url 'articles:product_list' category.0 %}">
          <img src="../../../static/img/index/gift{{ category.0 }}.jpg">
          {{ category.1 }}
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="index-ranking my-5">
      <h2 class="text-center">지금 인기있는 선물이에요🎈</h2>
      <ul class="ranking-more row row-cols-4 expandible">
        {% for product in gender_products %}
          <li class="col my-1 px-1">
            <a class='text-decoration-none' href="{% url 'articles:product_detail' product.pk %}">
              <div class="ranking-item">
                <img class='rounded' src="{{ product.productimages_set.all.0.images }}" alt="product.productimages_set.all.0.images">
                <div class="bookmark rounded-start">
                  <span class='mb-3 fs-4 fw-bold text-white'>{{ forloop.counter }}</span>
                </div>
              </div>
              <div class='two-line-ellipsis'>{{ product.title }}</div>
              <p class='text-secondary m-0' style='font-size:.8rem;'>{{ product.brand }}</p>
              <p class='text-dark m-0'>{{ product.price|intcomma }}원</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!--index-ranking 끝-->
    <div class="multiple-items">
      <div><a href="https://event.multicampus.com/multicampusmain" target="_blank"><img src="{% static 'img/index/ad-multiit2.png' %}"></a></div>
      <div><img src="https://picsum.photos/300/200?random=2"></div>
      <div><img src="https://picsum.photos/300/200?random=3"></div>
      <div><img src="https://picsum.photos/300/200?random=4"></div>
      <div><img src="https://picsum.photos/300/200?random=5"></div>
      <div><img src="https://picsum.photos/300/200?random=6"></div>
    </div>
    <div style='margin-top:10rem;' class="row">
      <h2 class="fw-bold mx-1">
        <span>이런 선물은 어때요?</span>
        <i class="bi bi-question-circle fs-5 text-secondary me-2" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-title="오다주 AI가 사용자와 비슷한 유형의 선물들을 추천합니다."></i>
      </h2>
      <div class="justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% for product in recommend_products %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <div class='col-3'>
                  <div class='mx-2 border-0'>
                    <div class="d-flex align-items-center justify-content-center">
                      <a href="{% url 'articles:product_detail' product.pk %}">
                        <img class='rounded w-100 mb-1' src="{{ product.productimages_set.all.0.images }}" alt="{{ product.productimages.all.0.images }}">
                        <p class='m-0 two-line-ellipsis'>{{ product.title }}</p>
                        <p class='m-0 text-secondary' style='font-size:.8rem;'>{{ product.brand }}</p>
                        <p class='m-0 text-dark'>{{ product.price|intcomma }}원</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span style="width:1.5rem;" class="carousel-control-prev-icon bg-dark rounded" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span style="width:1.5rem;" class="carousel-control-next-icon bg-dark rounded" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>

    <!-- MD 추천 -->
    <div class="reco-per-member row row-cols-3">
      <!-- 병우 -->
      <div class="col">
        <a class="card md w-100" href="{% url 'articles:md_kbw' %}">
          <img src="https://img1.kakaocdn.net/thumb/C328x190@2x.q82.fwebp/?fname=https%3A%2F%2Fmud-i0.kakaocdn.net%2Fdn%2FfKslQ%2FbIdOWf6KFgA%2FYCn4cNNlDLrPtft9oiUQY0%2Fimg.jpg">
          <div class="mt-3 mb-1 fs-3">뭘 좋아할지 몰라서 다 준비했어</div>
          <p>이번 크리스마스<br>따듯한 마음을 표현해보세요</p>
        </a>
      </div>
      <!-- 건희 -->
      <div class="col">
        <a class="card md w-100" href="{% url 'articles:md_kkh' %}">
          <img src="https://img1.kakaocdn.net/thumb/C328x190@2x.q82.fwebp/?fname=https%3A%2F%2Fmud-i0.kakaocdn.net%2Fdn%2FcmVnlm%2FbIcBwsZyWOy%2FkuRr6UYTNJRs481crU34A0%2Fimg.jpg">
          <div class="mt-3 mb-1 fs-3">특별한 연말을 위한 특별한 선물</div>
          <p>찬 바람이 불어오는 추운 겨울에<br>센스있는 선물로 따뜻한 마음을 전달하세요</p>
        </a>
      </div>
      <!-- 성민 -->
      <div class="col">
        <a class="card md w-100" href="{% url 'articles:md_jsm' %}">
          <img src="https://img1.kakaocdn.net/thumb/C328x190@2x.q82.fwebp/?fname=https%3A%2F%2Fmud-i0.kakaocdn.net%2Fdn%2FbQRrK7%2FbIdOWqtFHhn%2FunAXf7QaQ1VPYygBJo1lkk%2Fimg.jpg">
          <div class="mt-3 mb-1 fs-3">크리스마스 기다리는 달콤한 방법</div>
          <p>하루에 한 칸씩 열어보며 달콤한 한 입<br>크리스마스를 기다리는 시간이 더욱 행복해질 거예요</p>
        </a>
      </div>
    </div>
    <!--reco-per-member 끝-->
    <div id="page" class="youtube-list row">
      <div class="small-11 small-centered">
        <h2 class="text-center"><i class="bi-youtube text-danger"></i> 아직 고민된다면 영상을 참고해보세요</h2>
        <div class="slider slider-single">
          <div><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7Y3N_FJxbP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/VJvfPBCnpsg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/6Eb-60MSTQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/NrHddzciiWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/Jxt_kr20iyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/YzWfw4aPpAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/D9_PWsoMXXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/aC8J983AJOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/uNKRtj_3JiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/14FUVWUnk0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="slider slider-nav">
          <img src="{% static 'img/index/thumbnail1.jpg' %}">
          <img src="{% static 'img/index/thumbnail2.jpg' %}">
          <img src="{% static 'img/index/thumbnail3.jpg' %}">
          <img src="{% static 'img/index/thumbnail4.jpg' %}">
          <img src="{% static 'img/index/thumbnail5.jpg' %}">
          <img src="{% static 'img/index/thumbnail6.jpg' %}">
          <img src="{% static 'img/index/thumbnail7.jpg' %}">
          <img src="{% static 'img/index/thumbnail8.jpg' %}">
          <img src="{% static 'img/index/thumbnail9.jpg' %}">
          <img src="{% static 'img/index/thumbnail10.jpg' %}">
        </div>
      </div>
    </div>
  </section>
  {% if request.user.is_authenticated == False %}
  <div class="main_notice_pop" name="popup1">
    <a href="#" class="btn_close"><i class="fa-solid fa-xmark"></i></a>
    <div class="pop-content">
      
      <h4 class="text-center m-0">🎊배포 기념 이벤트🎊</h4>
      <img src="{% static 'img/index/santa.png' %}">
      <p class="card-text small">딱 이틀 동안만 가능한 오다주 가입!<br>지금이 아니면 기회가 없어요😉 </p>
      <!-- animated button-->
      <a class="cta" href="{% url 'accounts:signup' %}">
        <span>가입하러 가기</span>
        <span>
          <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
              <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
              <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
            </g>
          </svg>
        </span> 
      </a>  
    </div>
    <div class="btn_today_close"> 
      <input type="checkbox" name="today_close1" class="me-3">오늘 하루 보지 않기
    </div>  
  </div> 
  {% endif %} 
{% endblock content %}

{% block script %}
  <!--AD carousel-->
  <script>
    $('.multiple-items').slick({infinite: true, slidesToShow: 2, slidesToScroll: 2, dots: true});
  </script>
  <!--랭킹 더보기 접기-->
  <script>
    $('ul.expandible').each(function(){
      var $ul = $(this),
          $lis = $ul.find('li:gt(7)'),
          isExpanded = $ul.hasClass('expanded');
      $lis[isExpanded ? 'show' : 'hide']();
      
      if($lis.length > 0){
          $ul
              .append($('<a class="showmore text-white text-decoration-none"><li class="expand">' + (isExpanded ? '접기' : '더보기') + '</li></a>')
              .click(function(event){
                  var isExpanded = $ul.hasClass('expanded');
                  event.preventDefault();
                  $(this).html(isExpanded ? '더보기' : '접기');
                  $ul.toggleClass('expanded');
                  $lis.toggle();
              }));
      }
    });
  </script>
  <script src="{% static 'js/snowflake.js' %}"></script>
  <!--유튜브 sync carousel-->
  <script>
    $('.slider-single').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      adaptiveHeight: true,
      infinite: true,
      useTransform: true,
      speed: 400,
    });

    $('.slider-nav')
      .on('init', function(event, slick) {
        $('.slider-nav .slick-slide.slick-current').addClass('is-active');
      })
      .slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: false,
        focusOnSelect: false,
        infinite: true,
        responsive: [{
          breakpoint: 1024,
          settings: {
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 5,
            slidesToScroll: 5,
          }
        }, {
          breakpoint: 640,
          settings: {
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 4,
            slidesToScroll: 4,
          }
        }, {
          breakpoint: 420,
          settings: {
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        }]
      });

    $('.slider-single').on('afterChange', function(event, slick, currentSlide) {
      $('.slider-nav').slick('slickGoTo', currentSlide);
      var currrentNavSlideElem = '.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]';
      $('.slider-nav .slick-slide.is-active').removeClass('is-active');
      $(currrentNavSlideElem).addClass('is-active');
    });

    $('.slider-nav').on('click', '.slick-slide', function(event) {
      event.preventDefault();
      var goToSingleSlide = $(this).data('slick-index');

      $('.slider-single').slick('slickGoTo', goToSingleSlide);
    });
  </script>
  <!--선택한 친구 위시리스트로 이동, 친구선택 모달. 현재 선택한 사람-->
  <script>
    const selectMine = document.querySelector('#select-mine')
    const selectFollowers = document.querySelectorAll('#select-follower')
    const selectBtn = document.querySelector('#select-btn')
    selectMine.addEventListener('click', function(event) {
      selectBtn.setAttribute('href', `/accounts/${event.target.dataset.userId}/wishlist/`)
    })
    for (let selectFollower of selectFollowers) {
    selectFollower.addEventListener('click', function(event){
      selectBtn.setAttribute('href', `/accounts/${event.target.dataset.followerId}/wishlist/`)
      })
    }

      //친구선택 모달. 현재 선택한 사람
      function getFriend(event) {
      document.getElementById('result').innerText = 
        event.target.value;
    }
  </script>
  <!--플로팅광고 오늘 다시 보지 않기-->
  <script type="text/javascript">

    $(document).ready(function () {
        // 팝업창에 주어진 이름을 변수로 던져 저장된 쿠키가 있는지 확인 
        var popup1 = getCookie('popup1');

        // 변수가 없을경우 팝업 출력 
        if (!popup1) {
            popUpAction('popup1');
        }
    });

    // 쿠키 가져오기 
    function getCookie(name) {
        var nameOfCookie = name + "=";
        var x = 0;
        while (x <= document.cookie.length) {
            var y = (x + nameOfCookie.length);

            if (document.cookie.substring(x, y) == nameOfCookie) {
                if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                    endOfCookie = document.cookie.length;
                return unescape(document.cookie.substring(y, endOfCookie));
            }

            x = document.cookie.indexOf(" ", x) + 1;

            if (x == 0) break;
        }

        return "";
    } // 24시간 기준 쿠키 설정하기 

    // expiredays 후의 클릭한 시간까지 쿠키 설정 
    function setCookie24(name, value, expiredays) {
        var todayDate = new Date();

        todayDate.setDate(todayDate.getDate() + expiredays);

        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
    }

    // 00:00 시 기준 쿠키 설정하기 // expiredays 의 새벽 00:00:00 까지 쿠키 설정 
    function setCookie00(name, value, expiredays) {
        var todayDate = new Date(); todayDate = new Date(parseInt(todayDate.getTime() / 86400000) * 86400000 + 54000000);

        if (todayDate > new Date()) {
            expiredays = expiredays - 1;
        }

        todayDate.setDate(todayDate.getDate() + expiredays);

        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
    }

    // 팝업출력
    function popUpAction(name) {
        // name으로 해당 팝업창 열기 
        $("div[name=" + name + "]").fadeIn();
    }

    // 닫기버튼 클릭 이벤트 
    $('.btn_close').click(function () {
        $(this).parent('.main_notice_pop').fadeOut();

        // 오늘하루 보지않기 체크 확인 
        if ($("input:checkbox[name=today_close1]").is(":checked") == true) {
            setCookie00('popup1', "done", 1);
        }

        // name으로 해당 팝업창 닫기 
        $(this).parent("div[name=" + name + "]").fadeOut();
    }) 
  </script>
  <!--상품 자동 슬라이드-->
  <script>
    let items = document.querySelectorAll('.carousel .carousel-item')
    items.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i = 1; i < minPerSlide; i++) {
        if (!next) {
          // wrap carousel by using first child
          next = items[0]
        }
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
      }
    })
  </script>
  <!--툴팁-->
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

{% endblock script %}