{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<h2>{{ product.pk }}번</h2>
<p>{{ product.content }}</p>
<p>{{ product.category }}</p>
<p>{{ product.price }}</p>
<p>{{ product.created_at }} | {{product.updated_at}}</p>
<a href="{% url 'articles:product_update' product.pk %}">수정하기</a>
{% endblock content %}
{% block script %}{% endblock script %}