{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}
{% load humanize %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}
<div class="container" style='margin-top: 10rem;'>
  <section class="d-flex justify-content-between">
    <!-- 상품 title -->
    <h1>
      {{ product.title }} <span style='background-color: #003B41;' class='badge fs-6'>{{ product.get_category_display }}</span>
    </h1>
  </section>

  <!-- title 수평선 -->
  <hr class="detail_hr">

  <section class="row d-flex mt-5">
    <!-- 상품 이미지 -->
    <div class="col-6">
      <img id="big-img" class="w-100 rounded" src="{{ product.productimages_set.all.0.images }}" alt="product.productimages_set.all.0.images">
      <!-- 작은 사진들 (이미지 바꾸기) -->
      <div class="d-flex justify-content-center mt-3">
        {% for image in product.productimages_set.all %}
          <img class="small-img" src="{{ image.images }}" alt="썸네일 사진">
        {% endfor %}
      </div>
    </div>
    <div class="col-6">
      <div class='d-flex flex-column justify-content-between h-100'>
        <!-- 최저가 -->
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class='d-flex flex-column'>
              <span class='fs-2'>최저가 {{ product.price|intcomma }}원</span>
              <div class="d-flex justify-content-between">
                <!-- 별 평점 -->
                <div class="stars d-flex">
                  {% if quotient_list %}
                    {% for a in quotient_list %}<i class="bi bi-star-fill"></i>{% endfor %}
                    {% for a in half_list %}<i class="bi bi-star-half"></i>{% endfor %}
                    {% for a in rest_list %}<i class="bi bi-star"></i>{% endfor %}
                    <span class='text-dark'> (평점 {{ rating_avg|floatformat:1 }})</span>
                    {% else %}
                    <span class='text-dark'>후기가 없어요..</span>
                  {% endif %}
                </div>
              </div>
              <span style='font-size:1rem;' class='text-secondary'>{{ product.brand }}</span>    
            </div>
            <!-- 공유 / 하트(위시) 버튼 -->
            <div class="my-2 d-flex">
              <div class="circle me-2 d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-up-from-bracket fs-4"></i>
              </div>
              {% if request.user.is_authenticated %}
                <div class="heart text-center">
                  {% if request.user in product.like_user.all %}
                    <i id='like-btn' data-product-id="{{ product.pk }}" class="bi bi-heart-fill"></i>
                  {% else %}
                    <i id='like-btn' data-product-id="{{ product.pk }}" class="bi bi-heart"></i>
                  {% endif %}
                  <span id="like-count">{{ product.like_user.count }}</span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!--Progress Bar Title-->
        {% if rating_list %}
          <h3 class='m-0 bg-white'>
            {% if rating_list.0|add:rating_list.1 == 0 %}
              이 선물을 만족한 사람이 없네요..
            {% else %}
              이 선물을 <span class='text-danger'>{{ rating_list.0|add:rating_list.1 }}%</span>의 사람들이 만족했어요!
            {% endif %}
          </h3>
        {% endif %}
        <!--Progress Bar-->
        <div class="d-flex flex-column justify-content-center container bg-light rounded">
          {% if rating_list %}
            {% for rating in rating_list %}
              <div class="row pe-3" >
                <div style='font-size:0.6rem;' class="col-2 d-flex justify-content-end align-items-center">
                  {% if forloop.counter == 1 %}
                    <i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i>
                  {% elif forloop.counter == 2 %}
                    <i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i>
                  {% elif forloop.counter == 3 %}
                    <i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i>
                  {% elif forloop.counter == 4 %}
                    <i class="bi bi-star-fill d-flex align-itmes-center"></i><i class="bi bi-star-fill d-flex align-itmes-center"></i>
                  {% elif forloop.counter == 5 %}
                    <i class="bi bi-star-fill d-flex align-itmes-center"></i>
                  {% endif %}  
                </div>
                <div class="progress my-2 col-10 p-0" style="height: 12px;">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{ rating }}%; background-color: #003B41;" aria-valuenow="{{ rating }}" aria-valuemin="0" aria-valuemax="100"><span style='font-size:.5rem;'>{{ rating }}%</span></div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div style='height:5rem;' class="d-lg-flex d-none justify-content-center align-items-center rounded">
              <h3 class='m-0'>평점이 없습니다.</h3>
            </div>
          {% endif %}
        </div>

        {% if like_reviews %}
          <div class="d-flex flex-column justify-content-between">
            <h2 class='m-0'>베스트 후기👍 <span class='fs-5 text-secondary'>{{ like_reviews.0.like_cnt }}번의 공감을 받았습니다!</span></h2>
            <div class="com p-4 bg-light border rounded" data-bs-toggle="modal" data-bs-target="#exampleModal{{ like_reviews.0.pk }}">
              <div class="d-flex">
                {% if like_reviews.0.user.image %}
                  <div class="user_img me-3">
                    <img class="w-100 h-100" src="{{ like_reviews.0.user.image.url }}" alt="">
                  </div>
                {% endif %}
                <div class="pt-2">
                  <div>{{ like_reviews.0.user.nickname }}</div>
                  <div class="d-flex mt-1">
                    <!-- 후기 평점 -->
                    <div class="stars">
                      {% for i in "x"|rjust:"5" %}
                        {% if like_reviews.0.rating >= forloop.counter %}
                          <i class="fas fa-star"></i>
                        {% else %}
                          <i class="fas fa-star eee"></i>
                        {% endif %}
                      {% endfor %}
                    </div>
                    &nbsp;| {{ like_reviews.0.created_at.date }}        
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div class="card-ellipsis">
                  {{ like_reviews.0.content }}
                </div>
                <div class="com_img">
                  {% if like_reviews.0.image %}
                    <img class="w-100 h-100 rounded" src="{{ like_reviews.0.image.url }}" alt="">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- 카카오선물하기 이동버튼 -->
          <div class='d-flex'>
            <a href="{{ product.product_url }}" class="buy text-center p-1">보러가기</a>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <div style='margin-top:10rem;' class="row">
    <h2 class="fw-bold">이런 선물은 어때요?</h2>
    <div class="justify-content-center">
      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for product in random_products %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} ">
              <div class='col-3'>
                <div class='mx-2 border-0'>
                  <div class="d-flex align-items-center justify-content-center">
                    <a href="{% url 'articles:product_detail' product.pk %}">
                      <img class='rounded w-100 my-3' src="{{ product.productimages_set.all.0.images }}" alt="{{ product.productimages.all.0.images }}">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <span style="width:1.5rem;" class="carousel-control-prev-icon bg-dark rounded" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="next">
          <span style="width:1.5rem;" class="carousel-control-next-icon bg-dark rounded" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>


  <!-- 탭 이동 -->
  <section id="tap-move" class="d-flex flex-column align-items-center">
    <div class="tap-nav w-100">
      <button class="tab-button" data-tab-section="tab-section-1">상품설명</button>
      <button class="tab-button" data-tab-section="tab-section-2">선물후기 ({{ product.review_set.all.count }})</button>
    </div>
    <div id="tab-section-1" class="tab-section text-center">
      {% if product.productcontentimages_set.all.0 %}
        {% for images in product.productcontentimages_set.all %}
          <img src="{{ images.images }}" alt="{{ images.images }}">
        {% endfor %}
      {% else %}
        <img class='w-100' src="{{ product.productimages_set.all.0.images }}" alt="{{ product.productimages_set.all.0.images }}">
      {% endif %}
    </div>
    <div id="tab-section-2" class="tab-section w-100" hidden>
      <div class="d-flex justify-content-between p-4">
        <div class="fs-3">{{ product.review_set.all.count }}개의 후기가 있어요</div>
        <div class='d-flex align-items-center'>
          <a id='recent-tab-btn'>최신순</a>  <a class='mx-3 text-decoration-none text-dark' id='like-tab-btn'>추천순</a>
          {% if request.user.is_authenticated %}
          <div class="d-flex align-items-center ms-3">
            <a class='btn btn-outline-dark btn-sm text-decoration-none fs-5' href="{% url 'articles:review_create' product.pk %}">후기작성하기</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div id='recent-tab'>
        {% for review in recent_reviews %}
          <div class="com p-4" data-bs-toggle="modal" data-bs-target="#exampleModal{{ review.pk }}">
            <div class="d-flex">
              <div class="user_img me-3">
                {% if review.user.image %}
                  <img class="w-100 h-100" src="{{ review.user.image.url }}" alt="">
                {% endif %}
              </div>
              <div class="pt-2">
                <div>{{ review.user.nickname }}</div>
                <div class="d-flex mt-1">
                  <!-- 후기 평점 -->
                  <div class="stars">
                    {% for i in "x"|rjust:"5" %}
                      {% if review.rating >= forloop.counter %}
                        <i class="fas fa-star"></i>
                      {% else %}
                        <i class="fas fa-star eee"></i>
                      {% endif %}
                    {% endfor %}
                  </div>
                  &nbsp;| {{ review.created_at.date }}        
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="com_width d-flex flex-column justify-content-between">
                <span class='card-ellipsis'>{{ review.content }}</span>
                <span style="font-size: .9rem;" class='text-secondary'>{{ review.like_cnt }}번 공감되었습니다.</span>
              </div>
              <div class="com_img">
                {% if review.image %}
                  <img class="w-100 h-100" src="{{ review.image.url }}" alt="">
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id='like-tab' hidden>
        {% for review in like_reviews %}
          <div class="com p-4" data-bs-toggle="modal" data-bs-target="#exampleModal{{ review.pk }}">
            <div class="d-flex">
              <div class="user_img me-3">
                {% if review.user.image %}
                  <img class="w-100 h-100" src="{{ review.user.image.url }}" alt="">
                {% endif %}
              </div>
              <div class="pt-2">
                <div>{{ review.user.nickname }}</div>
                <div class="d-flex mt-1">
                  <!-- 후기 평점 -->
                  <div class="stars">
                    {% for i in "x"|rjust:"5" %}
                      {% if review.rating >= forloop.counter %}
                        <i class="fas fa-star"></i>
                      {% else %}
                        <i class="fas fa-star eee"></i>
                      {% endif %}
                    {% endfor %}
                  </div>
                  &nbsp;| {{ review.created_at.date }}        
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="com_width d-flex flex-column justify-content-between">
                <span class='card-ellipsis'>{{ review.content }}</span>
                <span style="font-size: .9rem;" class='text-secondary'>{{ review.like_cnt }}번이 공감되었습니다.</span>
              </div>
              <div class="com_img">
                {% if review.image %}
                  <img class="w-100 h-100" src="{{ review.image.url }}" alt="">
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% for review in product.review_set.all %}
<!-- Modal -->
  <div class="modal fade" id="exampleModal{{ review.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="exampleModalLabel">{{ product.title }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <h1>{{ review.title }}</h1>
          <div class="d-flex">
            <div>
              {% if review.user.image %}
                <img style='width: 5rem;' class='rounded' src="{{ review.user.image.url }}" alt="profile image">
              {% endif %}
            </div>
            <div class="w-100 ms-2">
              <div><a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.nickname }}</a></div>
              <!-- 후기 평점 (modal) -->
              <div class="d-flex justify-content-between mt-1">
                <div class="stars">
                  {% for i in "x"|rjust:"5" %}
                    {% if review.rating >= forloop.counter %}
                      <i class="fas fa-star"></i>
                    {% else %}
                      <i class="fas fa-star eee"></i>
                    {% endif %}
                  {% endfor %}
                </div>
                <div>
                  {{ review.created_at.date }}
                </div>
              </div>
            </div>
          </div>
          <div>
            <img class="w-100 rounded my-5" src="{{ review.image.url }}" alt="review.image">
          </div>
          <div style="min-height: 10rem;" class="my-3">
            {{ review.content }}
          </div>
          <span class='rounded-pill review-emoji'>
            {% if request.user.is_authenticated %}
            
              <!-- GOOD 이모지 -->
              <a><img style='width:1.5rem;' src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/grinning-face_1f600.png" id='good-btn' data-review-id="{{ review.pk }}"></a>
              {% if request.user in review.good_user.all %}
                <span class="emoji-count" id="good-count{{ review.pk }}">{{ review.good_user.count }}</span>
              {% else %}
                <span id="good-count{{ review.pk }}">{{ review.good_user.count }}</span>
              {% endif %}

              <!-- COOL 이모지 -->
              <a><img style='width:1.5rem;' src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/smiling-face-with-sunglasses_1f60e.png" id='cool-btn' data-review-id="{{ review.pk }}"></a>
              {% if request.user in review.cool_user.all %}
                <span class="emoji-count" id="cool-count{{ review.pk }}">{{ review.cool_user.count }}</span>
              {% else %}
                <span id="cool-count{{ review.pk }}">{{ review.cool_user.count }}</span>
              {% endif %}

              <!-- FUN 이모지 -->
              <a><img style='width:1.5rem;' src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/zany-face_1f92a.png" id='fun-btn' data-review-id="{{ review.pk }}"></a>
              {% if request.user in review.fun_user.all %}
                <span class="emoji-count" id="fun-count{{ review.pk }}">{{ review.fun_user.count }}</span>
              {% else %}
                <span id="fun-count{{ review.pk }}">{{ review.fun_user.count }}</span>
              {% endif %}

              <!-- SAD 이모지 -->
              <a><img style='width:1.5rem;' src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/loudly-crying-face_1f62d.png" id='sad-btn' data-review-id="{{ review.pk }}"></a>
              {% if request.user in review.sad_user.all %}
                <span class="emoji-count" id="sad-count{{ review.pk }}">{{ review.sad_user.count }}</span>
              {% else %}
                <span id="sad-count{{ review.pk }}">{{ review.sad_user.count }}</span>
              {% endif %}
              
            {% endif %}
          </span>
          <form class='my-3' id="comment-form" data-review-id="{{ review.pk }}">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" name='content' class="form-control" placeholder="댓글" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">등록</button>
            </div>
          </form>
          <div id="comment-box{{ review.pk }}">
            {% for comment in review.reviewcomment_set.all %}
              <div class='border rounded-4 my-2 px-3 py-2'>
                <div class="d-flex align-items-end justify-content-between">
                  <a class='text-decoration-none fw-bold' href="{% url 'accounts:detail' comment.user.pk %}">
                    {% if comment.user.image %}
                      <img style="width:1.5rem;" class='rounded-circle border' src="{{ comment.user.image.url }}" alt="">
                    {% endif %}
                    <span class='mx-1'>{{ comment.user.nickname }}</span>
                    <span style='font-size: .8rem;' class='text-dark'>{{ comment.created_at.date }}</span>
                  </a>
                  {% if request.user == comment.user %}
                    <a href="{% url 'articles:review_comment_delete' comment.pk %}" class='btn btn-sm btn-outline-danger'>삭제</a>
                  {% endif %}
                </div>
                <div class="d-flex justify-content-between">
                  <p class='my-2'>{{ comment.content }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- 위시리스트 비동기 스크릡트 -->
<script>
  const likeBtn = document.querySelector('#like-btn')
  likeBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({
      url: `/${event.target.dataset.productId}/like/`
    })
    .then(response => {
      console.log(response)
      console.log(response.data)
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill')
        event.target.classList.remove('bi-heart')
      } else {
        event.target.classList.add('bi-heart')
        event.target.classList.remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>

<!-- 댓글작성 비동기 스크립트 -->
<script>
const commentForms = document.querySelectorAll('#comment-form')
for (let commentForm of commentForms) {
  commentForm.addEventListener('submit', function(event) {
    let csrftoken = event.target.querySelector('[name=csrfmiddlewaretoken]').value
    event.preventDefault();
    axios({
      method: 'post',
      url: `/${event.target.dataset.reviewId}/review_comment_create/`,
      headers: {
        'X-CSRFToken': csrftoken
      },
      data: new FormData(commentForm)
    }).then(response => {
      let commentBox = document.querySelector(`#comment-box${event.target.dataset.reviewId}`)
      commentBox.replaceChildren()
      for (comment of response.data.comments) {
        console.log(comment[8])
        let div1 = document.createElement('div')
        div1.classList.add('border', 'rounded-4', 'my-2', 'px-3', 'py-2')
        let div2 = document.createElement('div')
        div2.classList.add('d-flex', 'align-items-end', 'justify-content-between')
        let a1 = document.createElement('a')
        a1.setAttribute('href', `/accounts/${comment[3]}/detail/`)
        a1.classList.add('text-decoration-none', 'fw-bold')
        if (comment[11] === true) {
          let img1 = document.createElement('img')
          img1.setAttribute('src', `${comment[8]}`)
          img1.setAttribute('style', 'width:1.5rem;')
          img1.setAttribute('alt', `${comment[8]}`)
          img1.classList.add('rounded-circle', 'border')
          a1.append(img1)
        }
        let span2 = document.createElement('span')
        span2.setAttribute('style', 'margin: 0 9px;')
        span2.innerText = comment[1]
        a1.append(span2)
        let span1 = document.createElement('span')
        span1.setAttribute('style', 'font-size:.8rem;')
        span1.classList.add('text-dark')
        span1.innerText = `${comment[2]}년 ${comment[9]}월 ${comment[10]}일`
        a1.append(span1)
        div2.append(a1)
        if (comment[3] === comment[4]) {
          let a2 = document.createElement('a')
          a2.setAttribute('href', `/${comment[5]}/review_comment_delete/`)
          a2.classList.add('btn', 'btn-sm', 'btn-outline-danger')
          a2.innerText = '삭제'
          div2.append(a2)
        }
        let div3 = document.createElement('div')
        div3.classList.add('d-flex', 'justify-content-between')
        let p1 = document.createElement('p')
        p1.classList.add('my-2')
        p1.innerText = comment[0]
        div3.append(p1)
        div1.append(div2, div3)
        commentBox.append(div1)
      }
      commentForm.reset()
    })
  })
}
</script>

<!-- 상품설명, 후기 탭 전환 스크립트 -->
<script>
  const $nav = document.querySelector('#tap-move')
    const $sections = document.querySelectorAll('.tab-section');
    $nav.addEventListener('click', (e) => {
      if (!e.target.classList.contains('tab-button')) {
        return;
      }
      const focusedTabId = e.target.dataset.tabSection;
      $sections.forEach(($section) => {
        if ($section.id === focusedTabId) {
          $section.removeAttribute('hidden');
        } else {
          $section.setAttribute('hidden', true);
        }
      });
    });
</script>

<!-- 최신순, 추천순 탭 전환 스크립트-->
<script>
  const recentTabBtn = document.querySelector('#recent-tab-btn')
  const likeTabBtn = document.querySelector('#like-tab-btn')
  const recentTab = document.querySelector('#recent-tab')
  const likeTab = document.querySelector('#like-tab')
  recentTabBtn.addEventListener('click', function(event) {
    likeTab.setAttribute('hidden', true)
    recentTab.removeAttribute('hidden')
  })
  likeTabBtn.addEventListener('click', function(event) {
    likeTab.removeAttribute('hidden')
    recentTab.setAttribute('hidden', true)
  })
</script>

<!-- 상품이미지 전환 스크립트 -->
<script>
  var bigPic = document.querySelector('#big-img');
  var smallPics = document.querySelectorAll('.small-img');

  for(var i=0; i<smallPics.length; i++){
    smallPics[i].onclick = changePic;
  }

  function changePic(){
    var smallPicAttribute = this.getAttribute('src');
    bigPic.setAttribute('src', smallPicAttribute);
  }
</script>

<!-- 공감이모지 비동기 스크립트 -->
<script>
  const goodBtns = document.querySelectorAll('#good-btn')
  for (let goodBtn of goodBtns) {
    goodBtn.addEventListener('click', function (event) {
      axios({
        url: `/${event.target.dataset.reviewId}/review_good/`
      })
      .then(response => {
        let goodCount = document.querySelector(`#good-count${event.target.dataset.reviewId}`)
        if (response.data.isGooded === true) {
          goodCount.classList.add('emoji-count')
        } else {
          goodCount.classList.remove('emoji-count')
        }
        goodCount.innerText = response.data.goodCount
      })
    })
  }
  const coolBtns = document.querySelectorAll('#cool-btn')
  for (let coolBtn of coolBtns) {
    coolBtn.addEventListener('click', function (event) {
      axios({
        url: `/${event.target.dataset.reviewId}/review_cool/`
      })
      .then(response => {
        let coolCount = document.querySelector(`#cool-count${event.target.dataset.reviewId}`)
        if (response.data.isCooled === true) {
          coolCount.classList.add('emoji-count')
        } else {
          coolCount.classList.remove('emoji-count')
        }
        coolCount.innerText = response.data.coolCount
      })
    })
  }
  const funBtns = document.querySelectorAll('#fun-btn')
  for (let funBtn of funBtns) {
    funBtn.addEventListener('click', function (event) {
      axios({
        url: `/${event.target.dataset.reviewId}/review_fun/`
      })
      .then(response => {
        let funCount = document.querySelector(`#fun-count${event.target.dataset.reviewId}`)
        if (response.data.isFuned === true) {
          funCount.classList.add('emoji-count')
        } else {
          funCount.classList.remove('emoji-count')
        }
        funCount.innerText = response.data.funCount
      })
    })
  }
  const sadBtns = document.querySelectorAll('#sad-btn')
  for (let sadBtn of sadBtns) {
    sadBtn.addEventListener('click', function (event) {
      axios({
        url: `/${event.target.dataset.reviewId}/review_sad/`
      })
      .then(response => {
        let sadCount = document.querySelector(`#sad-count${event.target.dataset.reviewId}`)
        if (response.data.isSaded === true) {
          sadCount.classList.add('emoji-count')
        } else {
          sadCount.classList.remove('emoji-count')
        }
        sadCount.innerText = response.data.sadCount
      })
    })
  }
</script>

<!-- 랜덤상품 캐러셀 스크립트-->
<script>
  let items = document.querySelectorAll('.carousel .carousel-item')
  items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0]
      }
      let cloneChild = next.cloneNode(true)
      el.appendChild(cloneChild.children[0])
      next = next.nextElementSibling
    }
  })
</script>

{% endblock script %}