{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}


<div class="text-center">
    <h1>리뷰</h1>
</div>

{% for review in reviews %}

<div
class="container d-flex justify-content-start my-5"
style="border: 0.5rem outset lightcoral; outline: 0.5rem outset lightblue; border-radius: 12px; outline-offset: 0.5rem;">

    <img class="m-3" src="{{ review.image.url }}" alt="review.image" style="border: 0.5rem ridge ivory;">

    <div class="m-5">
        <div class="my-2">
            <p>{{ review.title }}</p>
        </div>
        <div class="my-2">
            <p>{{ review.content }}</p>
        </div>
        <div class="stars">
            {% for i in "x"|rjust:"5" %}
            {% if review.rating >= forloop.counter %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="fas fa-star eee"></i>
            {% endif %}
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'accounts:detail' user.pk %}">{{ review.user.nickname }}</a>
        </div>
    </div>
    <div class="my-5" style="display: flex; align-items: center;">
        <a href="{% url 'articles:product_detail' review.product.pk %}">{{ review.product.title }}</a>
    </div>
</div>

{% endfor %}



{% endblock content %}
{% block script %}{% endblock script %}