{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}
<style>
  .content-wrapper {
    background-image: url(/static/img/background.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
  }
</style>
{% endblock style %}
	
{% block content %}
<section class="content-wrapper">
	<div class="review_c">
		<div class="d-flex justify-content-center">
			<div class="review_form">
				<form action="" method="POST" enctype="multipart/form-data">
					<div class="d-flex justify-content-center">
						<h2 class="review_write mb-5">후기 수정</h2>
					</div>
					{% csrf_token %}
					{% bootstrap_form review_form %}
					<div class="d-flex justify-content-center mt-5">
						<input class="review_btn px-5" type="submit" value="수정">
						<!-- 삭제모달 버튼 -->
						<button type="button" class="review_btn px-5 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
							삭제
						</button>
					</div>
					<!-- 삭제모달 -->
				</form>
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<span class="text-danger">후기를 삭제하면 관련된 모든 댓글이 사라집니다.<br> 그래도 삭제하시겠습니까?</span>
							</div>
							<div class="modal-footer">
								<form action="{% url 'articles:review_delete' review.product.pk review.pk %}" method="POST">
									{% csrf_token %}
									<input class="btn btn-outline-danger btn-sm" type="submit" value="삭제">
								</form>
								<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">아니오</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block script %}{% endblock script %}