{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

{% block title %}{% endblock title %}
{% block style %}{% endblock style %}
{% block content %}



<h1> reviews </h1>

{% for review in reviews %}

<div class="d-flex">

    <img class="" src="{{ review.image.url }}" alt="review.image">
    <p>리뷰 제목 {{ review.title }}</p>
    <p>리뷰 내용 {{ review.content }}</p>
    <p>{{ review.rating }}점</p>
    <p>작성자 {{ review.user }}</p>
    <p>상품 {{ review.product }}</p>
    
</div>

{% endfor %}



{% endblock content %}
{% block script %}{% endblock script %}