{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% load imagekit %}

<!doctype html>
<html lang="ko"
  data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36">

<head>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/base/ODJ.ico' %}">
  <title>ODJ | 오다주웠다{% block title %}{% endblock title %}
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-title" content="ODJ">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ODJ가 당신을 센스 만점으로 만들어 드립니다">

  <meta property="og:title" content="네이버">
  <!--<meta property="og:url" content="배포하면 주소 추가하고 주석 지우기">-->
  <meta property="og:image" content="{% static 'img/base/logo.png' %}">
  <meta property="og:description" content="ODJ가 당신을 센스 만점으로 만들어 드립니다">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="">
  <!--<meta name="twitter:url" content="배포하면 주소 추가하고 주석 지우기">-->
  <meta name="twitter:image" content="{% static 'img/base/logo.png' %}">
  <meta name="twitter:description" content="ODJ가 당신을 센스 만점으로 만들어 드립니다.">

  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/base/logo.png' %}">
  <link rel="apple-touch-icon" href="{% static 'img/base/logo.png' %}">

  <!-- Bootstrap CSS v5.2.2 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <!-- Bootstrap Icon v1.10.2 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- reset style-->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
  {% block style %}{% endblock style %}

</head>

<body>
  <!--header-->
  {% include "nav.html" %}

  {% if messages %}
    {% for message in messages %}
    <div class='alert alert-{{message.tags}}'>
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}

  <main>
    <!-- 가로 스크롤바 없애기 -->
    <style>body{overflow-x: hidden;}</style>
    {% block content %}{% endblock content %}
  </main>

  <!-- footer -->
  {% include "footer.html" %}

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!--slick-carousel@1.8.1-->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  {% block script %}{% endblock script %}

</body>

</html>