<div id="pagescroll">
  <p>
    <a id="scrollup" href="#" >
      <img src="//www.luvreparis.co.kr/design/luvre/img/up.png">
    </a>
  </p>
  <p>
    <a id="scrolldown" href="#">
      <img src="//www.luvreparis.co.kr/design/luvre/img/btn_down.png">
    </a>
  </p>
</div>
<footer id="findparent">
  <ul id="wire">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  🎁 © {% now 'Y' %} 오다주웠다. 희동 & 건희 & 동원 & 병우 & 다솔 & 성민 🎁
</footer>
<script>
  var tagName = $(findparent).parent().prop('tagName');
  console.log(tagName);
</script>
<script>
  // 맨아래로
  var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
  $(function()
  {
    $('#scrolldown').show();
    $('#scrolldown').click(function()
    {
      $('html, body').animate({ scrollTop: $(document).height() } , 400);
      return false;

    });
  }); 
</script>