{% load static %}
{% load social_share %}

<!--위아래버튼-->
<div id="pagescroll">
  <p>
    <a id="scrollup" href="#" >
      <img src="{% static 'img/base/scroll_up.png' %}">
    </a>
  </p>
  <p>
    <a id="scrolldown" href="#">
      <img src="{% static 'img/base/scroll_down.png' %}">
    </a>
  </p>
</div>

<!--푸터-->
<footer>
  <!--트리전구-->
  <ul id="wire" class="">
    {% for i in "x"|rjust:"36" %}
    <li></li>
    {% endfor %}
  </ul>
  <!--푸터 컨텐츠-->
  <div class="container footer-content">
    <img src="{% static 'img/LOGO/logo_login.png' %}" alt="footer-logo">
    <div class="footer-text">
      <p>Copyright © {% now 'Y' %} All Rights Reserved by <a href="https://github.com/min486/Project_OJD">ODJ.</a></p>
      <ul class="d-flex">
        <li><a href="https://github.com/Gkhy">권건희</a></li>
        <li><a href="https://github.com/solightnsalt">김다솔</a></li>
        <li><a href="https://github.com/BuildEnough">김병우</a></li>
        <li><a href="https://github.com/kimheekimhee">김희동</a></li>
        <li><a href="https://github.com/dongwonbaek">백동원</a></li>
        <li><a href="https://github.com/min486">장성민</a></li>
      </ul>
    </div>
    <div>
      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="bi bi-facebook"></i>{% post_to_facebook post.get_absolute_url "Facebook" %}</a></li>
        <li><a class="twitter" href="#"><i class="bi bi-twitter"></i>{% post_to_twitter "New Song: {{object.title}}. Check it out!" get_absolute_url "Post to Twitter" %}</a></li>
        <li><a class="google" href="#"><i class="bi bi-google"></i>{% post_to_gplus get_absolute_url "Post to Google+!" %}</a></li>
        <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i>{% post_to_linkedin get_absolute_url %}</a></li>   
      </ul>
    </div>
    </div>
  </div>
</footer>
<script>
  // 맨아래로
  var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
  $(function()
  {
    $('#scrolldown').show();
    $('#scrolldown').click(function()
    {
      $('html, body').animate({ scrollTop: $(document).height() } , 400);
      return false;

    });
  }); 
</script>