{% load static %}

<!--위아래버튼-->
<div id="pagescroll">
  <p>
    <a id="scrollup" href="#" >
      <img src="{% static 'img/base/scroll_up.png' %}">
    </a>
  </p>
  <p>
    <a id="scrolldown" href="#">
      <img src="{% static 'img/base/scroll_down.png' %}">
    </a>
  </p>
</div>

<!--푸터-->
<footer>
  <!--트리전구-->
  <ul id="wire" class="">
    {% for i in "x"|rjust:"36" %}
    <li></li>
    {% endfor %}
  </ul>
  <!--푸터 컨텐츠-->
  <div class="container footer-content">
    <img src="{% static 'img/LOGO/logo_login.png' %}" alt="footer-logo">
    <div class="footer-text">
      <p>Copyright © {% now 'Y' %} All Rights Reserved by <a href="https://github.com/min486/Project_OJD">ODJ.</a></p>
      <ul class="d-flex">
        <li><a href="https://github.com/Gkhy">권건희</a></li>
        <li><a href="https://github.com/solightnsalt">김다솔</a></li>
        <li><a href="https://github.com/BuildEnough">김병우</a></li>
        <li><a href="https://github.com/kimheekimhee">김희동</a></li>
        <li><a href="https://github.com/dongwonbaek">백동원</a></li>
        <li><a href="https://github.com/min486">장성민</a></li>
      </ul>
    </div>
    <div>
      <ul class="social-icons">
        <li><a class="facebook" href="javascript:shareFacebook();"><i class="bi bi-facebook"></i></a></li>
        <li><a class="twitter" href="javascript:shareTwitter();"><i class="bi bi-twitter"></i></a></li>
        <li id="shareKt"><a class="kakao" href="javascript:shareKakao();"><i class="bi bi-chat-fill"></i></a></li>
      </ul>
    </div>
    </div>
  </div>
</footer>
<script>
  // 맨아래로
  var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
  $(function()
  {
    $('#scrolldown').show();
    $('#scrolldown').click(function()
    {
      $('html, body').animate({ scrollTop: $(document).height() } , 400);
      return false;

    });
  }); 
</script>
<script>
  // 트위터 공유
  function shareTwitter() {
    var sendText = "ODJ."; // 전달할 텍스트
    var sendUrl = "http://odjbean-env.eba-pmqftqpj.ap-northeast-2.elasticbeanstalk.com/"; // 전달할 URL
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
}

  // 페북 공유 
  function shareFacebook() {
    var sendUrl = "http://odjbean-env.eba-pmqftqpj.ap-northeast-2.elasticbeanstalk.com/"; // 전달할 URL
    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
  }
</script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  Kakao.init('a0214dd9435b790dce94381c4abdc8f7'); 
  function shareKakao() {
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: 'ODJ가 선물 추천해드릴게요!🎉',
        description: 'ODJ와 함께 12월 최고의 산타가 되어보세요!',
        imageUrl: 'http://odjbean-env.eba-pmqftqpj.ap-northeast-2.elasticbeanstalk.com/static/img/LOGO/logo_animated.gif',
        link: {
          webUrl: 'http://odjbean-env.eba-pmqftqpj.ap-northeast-2.elasticbeanstalk.com/',
        },
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            webUrl: 'http://odjbean-env.eba-pmqftqpj.ap-northeast-2.elasticbeanstalk.com/',
          },
        },
      ],
      installTalk: true,
    })
  }
</script>