
{% load static %}
<header>
    <!-- place navbar here -->
    <div class="container-fluid d-flex MyNav justify-content-center">
        <img src="{% static 'img/ojd_1.png' %}">
    </div>
    <nav id="navbar-example2" class="px-3 mb-3 d-flex MyNav justify-content-between sticky">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-white" href="#scrollspyHeading1">랭킹</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#scrollspyHeading2">카테고리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#scrollspyHeading2">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#scrollspyHeading2">리뷰</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#scrollspyHeading2">Q&A</a>
            </li>
        </ul>
        <div class="d-flex text-white">
            <a>로그인/</a>
            <a>회원가입</a>
        </div>
    </nav>

</header>